/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
// Fonts
$font-default-serif: Georgia, serif;
$font-default-sans-serif: Arial, Helvetica, sans-serif;

$font-main: 'Open Sans', $font-default-sans-serif;

// Transitions
$dur: 350ms;
$ease: ease;

// Breakpoints
$mobile-sm: 320;
$mobile: 640;
$tablet-sm: 768;
$tablet-md: 1000;
$tablet: 1200;
$desktop: 1440;