/*--------------------------------------------------------------
## Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: $color-main;
	font-family: $font-main;
	font-size: 16px;
	line-height: 1.35;
}

blockquote {
	margin: 0 25px;
}

pre {
	background: $grey-light;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
