@font-face {
	font-family: "font-icons";
	src: url('../../assets/fonts/font-icons.woff2') format('woff2'), url('../../assets/fonts/font-icons.woff') format('woff'), url('../../assets/fonts/font-icons.ttf') format('truetype');;
}

@mixin icon-styles {
	font-family: "font-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == twitter {
		$char: "\E001";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-twitter {
	@include icon(twitter);
}
